ul,li, p, div, html, body{
	padding: 0;
	margin: 0;
}
.swiper{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.swiper-container{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.swiper-item{
	width: 99.9%;
	overflow: scroll;
	/* border: 1px solid #000; */
}
.p1{
	background:red;
}
.p2{
	background: green;
}
.p3{
	background: #999;
}
.p4{
	background: orange;
}
.p5{
	background: green;
}
.p6{
	background: orange;
}